@import "../../../assets/scss/reset";
@import "../../../assets/scss/config";
@import "../../../assets/scss/navigation";
@import "login";

.mainBack {
    @include mainBack;
    // ! Style de la page de login
    .loginConteneur {
        @include loginContainer;
        .imgHeader {
            img {
                @include imgHeaderBack;
            }
        }
        .formConteneur {
            @include formConteneur;
            .formulaire {
                @include formulaire;
                .title {
                    @include titleBack;
                }
                .inputConteneur {
                    @include inputConteneur;
                    .input {
                        @include input;
                        .inputBox {
                            @include inputBox;
                        }
                    }
                    .errorMsg {
                        @include errorMsg;
                    }
                }
                .submitBtnOrForget {
                    @include submitBtnOrForget;
                    .btn {
                        @include btnSignIn($fontSize: $sm-TitleFontSize);
                        margin-bottom: 4px;
                        display: block;
                    }
                    .formLink {
                        @include formLink;
                    }
                }
            }
            .requiredText {
                font-size: $footerSmartphoneFontSize;
                font-style: italic;
            }
        }
    }
    // ! Style de la page mot de passe ou pseudo oublier
    .descriptionText {
        text-align: center;
        line-height: 0.9em;
        margin: 20px auto;
    }
    .checkContainer {
        display: grid;
        grid-template-columns: 20% 20%;
        justify-content: end;
        margin-top: 5px;
    }
}

.main-grid-container {
    display: grid;
    grid-template-columns: 0 1fr;
    height: $bodyHeight;
    font-family: "Roboto", sans-serif;
    nav {
        background-color: $primary-color;
        box-shadow: 1px 0 2px rgba($primary-color, 0.3);
    }
    header {
        height: 36px;
        color: $primary-color;
        box-shadow: 0 1px 2px rgba($primary-color, 0.3);
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-content: stretch;
        align-items: center;
        .hamburger {
            cursor: pointer;
            box-sizing: border-box;
            display: grid;
            place-content: center;
            place-items: center;
            span {
                display: block;
                position: relative;
                width: 16px;
                height: 1.5px;
                background-color: $primary-color;
                border-radius: 2px;
                &::before, &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    display: block;
                    width: 16px;
                    height: 1.5px;
                    background-color: $primary-color;
                    border-radius: 2px;
                }
                &::before {
                    top: 5px;
                }
                &::after {
                    bottom: 5px;
                }
            }
        }
        .navBar {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-content: center;
            place-items: center;
            .navItem {
                .navLink {
                    color: $primary-color;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    overflow: hidden;
                    .profilImg {
                        display: inline-block;
                        object-fit: cover;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .dropdown-menu-container {
        display: block;
        width: 90%;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba($primary-color, 0.3);
        padding: 8px;
        margin: 5px auto;
        .dropdown-menu {

        }
    }
    .toggleMenu {
        display: none;
    }
    .toggleSubMenu {
        display: none;
    }
}
