@import "../../../assets/scss/reset";
@import "../../../assets/scss/config";
@import "../../../assets/scss/navigation";
@import "login";

.mainBack {
    @include mainBack;
    // ! Style de la page de login
    .loginConteneur {
        @include loginContainer;
        .imgHeader {
            img {
                @include imgHeaderBack;
            }
        }
        .formConteneur {
            @include formConteneur;
            .formulaire {
                @include formulaire;
                .title {
                    @include titleBack;
                }
                .inputConteneur {
                    @include inputConteneur;
                    .input {
                        @include input;
                        .inputBox {
                            @include inputBox;
                        }
                    }
                    .errorMsg {
                        @include errorMsg;
                    }
                }
                .submitBtnOrForget {
                    @include submitBtnOrForget;
                    .btn {
                        @include btnSignIn($fontSize: $sm-TitleFontSize);
                        margin-bottom: 4px;
                        display: block;
                    }
                    .formLink {
                        @include formLink;
                    }
                }
            }
            .requiredText {
                font-size: $footerSmartphoneFontSize;
                font-style: italic;
            }
        }
    }
    // ! Style de la page mot de passe ou pseudo oublier
    .descriptionText {
        text-align: center;
        line-height: 0.9em;
        margin: 20px auto;
    }
    .checkContainer {
        display: grid;
        grid-template-columns: 20% 20%;
        justify-content: end;
        margin-top: 5px;
    }
}

.main-grid-container {
    display: grid;
    grid-template-columns: 4.5em 1fr;
    height: $bodyHeight;
    font-family: "Roboto", sans-serif;
    nav {
        background-color: grey;
    }
}
