// * couleur utiliser pour le site web

$primary-color : #264051;
$hoverAndFocus-color : #F13556;
$btn-color : #FFA809;
$white-color: #fff;
$secondary-color: #00CBF9;
$success-color : #3AB470;
$danger-color : #f22613;


//* paramètre transition, width, height

$transition : 0.8s;
$fasterTransition : 0.5s;

$bodyWidth : 100vw;
$bodyHeight : 100vh;
$fullSize : 100%;

