// * couleur utiliser pour le site web

$primary-color : #264051;
$hoverAndFocus-color : #F13556;
$btn-color : #FFA809;
$white-color: #fff;
$secondary-color: #00CBF9;
$success-color : #3AB470;
$danger-color : #f22613;


//* paramètre transition, width, height

$transition : 0.8s;
$fasterTransition : 0.5s;

$bodyWidth : 100vw;
$bodyHeight : 100vh;
$fullSize : 100%;
$imageMignature : 32px;

$xs-TinyFontSize : 0.9em;
$xxs-FontSize : 0.6em;

$xs-FontSize : 1em;
$md-FontSize : 1.1em;

$xs-TitleFontSize : 1.2em;
$sm-TitleFontSize : 1.5em;
$md-TitleFontSize : 1.8em;
$lg-TitleFontSize : 2.1em;
$xl-TitleFontSize : 2.4em;

$lightFont : 300;
$regularFont : 400;
$regularItalicFont: 400i;
$mediumFont : 500;
$boldFont : 700;


//* Mixin pour le style général des liens

@mixin styleLien($color: $white-color, $textDecoration: none) {
    transition: $transition;
    color: $color;
    text-decoration: $textDecoration;

    &:hover {
        color: $hoverAndFocus-color;
    }
}