// ? fichier pour gérer la partie responsive du projet

@import "reset";
@import "config";
@import "navigation";



@media screen and (orientation: landscape) {
    header {
        .slidesShowContainer {
            .mySlides {
                img {
                    min-width: 100vw;
                }
                .auteurPostInfosContainer {
                    left: 50px;
                    bottom: 20px;
                    .auteurInfosPost {
                        .auteurContainer {
                            .auteurImg {
                                img {
                                    min-width: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}