// ! le fichier reset me permet de réinitialiser les style par défaut des différents navigateur
// * le fichier config me sert à stocker les variables que je réutiliserais souvent (couleur, height, width, etc)
// * le fichier style comporte tout les import de différent partial dans lesquel seront stocker mixin et fonction

@import "reset";
@import "config";
@import "navigation";
@import "header";
@import "posts";
@import "aside";

body {
    width: $bodyWidth;
    position: relative;
}

.main {
    padding-top: 50px;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}


                                        // *
                                        // *
                                        // * Style de la navigation 
                                        // *
                                        // *

.navBrand {
    @include logoShape(0 10px 0 0);
}

.navBar {
    @include navBar-xs;
    .navContainer {
        @include navContainer;
    }
    .navGroup {
        @include navGroup;
        .searchBox {
            @include searchBox;
            .inputField {
                @include inputField;
            }
            .submit-btn {
                @include submitBTN;
            }
        }
        .ulNavContainer {
            @include ulNavContainer;
            .navItem {
                @include navItem;
            }
        }
        .signInContainer {
            @include signInContainer;
            .btn {
                @include btnSignIn;
            }
            a {
                @include linkStyle;
            }
        }
        .socialNetwork {
            @include socialNetworkContainer;
            .title {
                @include title;
            }
            .socialContainer {
                @include socialContainer;
                a {
                    @include socialLink;
                }
            }
        }
    }
    .active {
        transition: $transition;
        transform: translateX(0);
    }
}

.hamburger {
    @include hamburgerContainer;
    span {
        @include hamburgerItem;
        &::after, &::before {
            @include hamburgerItem(absolute);
        }
        &::before {
            top: 10px;
        }
        &::after {
            bottom: 10px;
        }
    }
}

.closeHamburger {
    @include hamburgerContainer;
    span {
        @include hamburgerItem;
        transform: rotate(45deg);
        &::before, &:after {
            @include hamburgerItem(absolute);
            transform: rotate(-90deg);
        }
    }
}

                                        // *
                                        // *
                                        // * Style du slider
                                        // *
                                        // *
                                        
header {
    @include headerGeneralShape;
    .slidesShowContainer {
        @include slidesShowContainer;
        .mySlides {
            @include slides;
            .auteurPostInfosContainer {
                @include auteurPostInfosContainer;
                .title {
                    @include titleStyle;
                }
                .auteurInfosPost {
                    @include auteurInfosPost;
                    .auteurContainer {
                        @include auteurContainer;
                        .auteur {
                            .auteurLink {
                                @include auteurLink;
                            }
                            p {
                                @include calendar;
                            }
                        }
                        .auteurImg {
                            @include auteurImgContainer;
                            img {
                                @include auteurImg;
                            }
                        }
                    }
                    .content {
                        @include contentHiddent;
                    }
                }
            }
            img {
               @include mySlidesImg;
            }
            .overlay {
                @include overlay;
            }
        }
        .prev,
        .next {
            @include prevNext;
        }
        .next {
            right: 0;
        }

        .dotContainer {
            @include dotContainer;
            .dot {
                @include dot;
            }

            .active,
            .dot:hover {
                background-color: $hoverAndFocus-color;
            }
        }

        .fade {
            @include fade;
        }
    }
}

                                        // *
                                        // *
                                        // * Style du body des pages
                                        // *
                                        // *

        // ! Style du body de la page d'accueil

.contentContainer {
    margin-top: 10px;
    width: $bodyWidth;
    height: $fullSize;
    .postContainer {
        .post {
            @include post;
            .postImage {
                @include postImage;
            }
            .postInfosContainer {
                @include postInfosContainer;
                .auteurTagsSocials {
                    @include auteurTagsSocial;
                    .auteurContainer {
                        @include auteurContainer;
                        font-size: $xxs-FontSize;
                        .auteur {
                            .auteurLink {
                                @include auteurLink($primary-color);
                            }
                            p {
                                @include calendar;
                            }
                        }
                        .auteurImg {
                            @include auteurImgContainer;
                            img {
                                @include auteurImg;
                            }
                        }
                    }
                    .tagsContainer {
                        @include tagsContainer;
                        .tagsItem {
                            @include tagsItem;
                        }
                    }
                    .socialsContainer {
                        @include socialPostContainer;
                        .socialsItem {
                            @include socialsItem;
                        }
                    }
                }
                .title {
                    @include titleStyle($primary-color, $xs-TitleFontSize);
                    margin-left: 15px;
                    margin-bottom: 0;
                    margin-top: 5px;
                }
            }
        }
        .postPageNav {
            @include postPageNav;
            .postNavItem {
                @include postNavItem;
            }
        }
    }
    aside {
        @include asideContainer;
        .artPopRecContainer {
            @include artPopRecContainer;
            .titleContainer {
                @include titleContainer;
                .titleSwitch {
                    @include titleSwitch;
                }
                .active {
                    color: $hoverAndFocus-color;
                    &::after {
                        width: 100%;
                        background-color: $hoverAndFocus-color
                    }
                }
            }
            .popRecContainer {
                @include popRecContainer;
                .postPopRec {
                    @include postPopRec;
                    .postImgContainer {
                        @include postImgContainer;
                    }
                    .postInfos {
                        @include postInfos;
                        .title {
                            @include titleStyle($primary-color, $md-FontSize);
                        }
                        .auteurName, .calendar {
                            @include auteurName;
                        }
                        .plus {
                            @include plus;
                        }
                    }
                }
            }
            .active {
                display: block;
            }
        }
        .categoriesContainer {
            @include artPopRecContainer;
            margin-top: 15px;
            .asideTitle {
                @include asideTitle;
            }
            ul {
                padding: 10px 0;
                box-sizing: border-box;
                width: 95%;
                margin: 0 auto;
                .catItem {
                    margin-top: 5px;
                    &:first-child {
                        margin-top: 0;
                    }
                    a {
                        @include categoryLink;
                    }
                }
            }
            .plus {
                @include plus;
            }
        }
        .tagsContainer {
            @include artPopRecContainer;
            margin-top: 15px;
            .asideTitle {
                @include asideTitle;
            }
            .tagsGroup {
                @include tagsContainer(flex-start);
                flex-wrap: wrap;
                width: 95%;
                margin: 0 auto;
                .tagsItem {
                    @include tagsItem(5px, $xs-FontSize);
                    margin-bottom: 5px;
                }
            }
        }
        .newsletterContainer {
            @include artPopRecContainer;
            margin: 15px 0;
            .asideTitle {
                @include asideTitle;
            }
            .inputContainer {
                @include inputContainer;
                .mailInput {
                    @include asideInput;
                }
                .submitBtn {
                    @include submitBtn;
                }
            }
        }
    }
}